# --------------------------------------
# MacOS
# --------------------------------------
**/.DS_Store

# --------------------------------------
# product dir
# --------------------------------------
**/client/
**/server/
**/jwt/

# --------------------------------------
# IDE
# --------------------------------------
**/.idea/

# --------------------------------------
# key
# --------------------------------------
*.pem
*.crt
*.key
*.p12
*.pfx
*.csr
*.ext
*.srl
